In [1]:
import pandas as pd

pd.read_csv("DfTRoadSafety_Accidents_2011.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,201101BS70001,525590,178980,-0.192203,51.495766,1,3,1,1,13/01/2011,...,0,0,4,2,2,0,0,1,1,E01002812
1,201101BS70002,527450,179020,-0.165408,51.495710,1,2,2,1,11/01/2011,...,0,0,4,1,2,0,0,1,1,E01002819
2,201101BS70003,527120,178350,-0.170401,51.489763,1,3,1,1,19/01/2011,...,0,0,4,1,1,0,0,1,1,E01002914
3,201101BS70005,525400,179210,-0.194856,51.497875,1,3,2,3,25/01/2011,...,0,0,4,1,1,0,0,1,1,E01002813
4,201101BS70007,526280,177540,-0.182783,51.482671,1,3,2,1,06/01/2011,...,0,0,4,1,2,0,0,1,2,E01002913
5,201101BS70008,527860,178710,-0.159617,51.492831,1,3,1,1,24/01/2011,...,0,0,4,1,2,0,0,1,1,E01002859
6,201101BS70009,526630,177920,-0.177609,51.486008,1,3,1,1,27/01/2011,...,0,0,1,1,1,0,0,1,1,E01002911
7,201101BS70010,525840,178830,-0.188656,51.494362,1,3,1,1,27/01/2011,...,0,5,4,1,1,0,0,1,1,E01002839
8,201101BS70011,523910,182310,-0.215222,51.526064,1,2,2,1,28/01/2011,...,0,1,1,1,1,0,0,1,1,E01002852
9,201101BS70012,525460,178850,-0.194120,51.494627,1,3,2,1,25/01/2011,...,0,0,1,1,1,0,0,1,1,E01002850
10,201101BS70013,526650,177580,-0.177443,51.482948,1,3,1,1,25/01/2011,...,0,0,4,1,2,0,0,1,1,E01002840
11,201101BS70014,525700,178250,-0.190879,51.489181,1,3,3,3,28/01/2011,...,0,0,4,1,1,0,0,1,1,E01002894
12,201101BS70015,525560,178170,-0.192922,51.488493,1,3,2,1,02/02/2011,...,0,5,4,1,2,0,0,1,1,E01002846
13,201101BS70016,526620,177560,-0.177882,51.482775,1,3,2,1,30/01/2011,...,0,0,1,1,1,0,0,1,1,E01002840
14,201101BS70019,525050,181040,-0.199248,51.514399,1,3,2,1,10/01/2011,...,0,1,4,2,2,0,0,1,1,E01002886
15,201101BS70022,523750,181330,-0.217871,51.517292,1,3,5,3,31/01/2011,...,0,0,4,1,1,0,0,1,1,E01002877
16,201101BS70023,526310,178720,-0.181929,51.493269,1,3,2,1,01/02/2011,...,0,5,4,1,2,0,0,1,1,E01002835
17,201101BS70024,526360,177420,-0.181674,51.481575,1,3,2,1,02/02/2011,...,0,5,1,1,1,0,0,1,1,E01002913
18,201101BS70025,527560,179450,-0.163669,51.499549,1,3,1,1,07/01/2011,...,0,0,1,2,2,0,0,1,1,E01002819
19,201101BS70026,526090,178880,-0.185039,51.494756,1,3,2,1,13/01/2011,...,0,0,1,1,1,0,0,1,2,E01002835
20,201101BS70027,526880,178430,-0.173827,51.490535,1,3,2,1,30/01/2011,...,0,0,1,1,1,0,0,1,2,E01002822
21,201101BS70028,526290,179310,-0.182006,51.498576,1,3,1,1,04/02/2011,...,0,0,4,1,1,0,0,1,1,E01002892
22,201101BS70029,525390,178770,-0.195157,51.493923,1,3,1,1,29/01/2011,...,0,4,4,1,1,0,0,1,1,E01002851
23,201101BS70030,526750,178290,-0.175749,51.489306,1,3,2,1,25/01/2011,...,0,5,4,8,2,0,0,1,1,E01002838
24,201101BS70031,525280,178970,-0.196669,51.495745,1,2,1,1,04/02/2011,...,0,5,1,1,1,0,0,1,2,E01002813
25,201101BS70032,527780,179700,-0.160411,51.501746,1,3,2,1,26/01/2011,...,0,5,1,1,2,0,0,1,1,E01002818
26,201101BS70033,524890,179200,-0.202203,51.497898,1,3,1,1,30/01/2011,...,0,4,4,1,1,0,0,1,1,E01002817
27,201101BS70034,524410,181090,-0.208448,51.514990,1,3,1,1,01/02/2011,...,0,0,4,1,1,0,0,1,1,E01002874
28,201101BS70035,523960,179940,-0.215334,51.504753,1,3,1,1,17/01/2011,...,0,0,4,8,2,0,0,1,1,E01002869
29,201101BS70037,523860,181170,-0.216343,51.515830,1,2,2,1,05/02/2011,...,0,0,4,1,1,0,0,1,1,E01002878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151444,2011984133811,314410,576810,-3.342177,55.078360,98,3,2,2,17/09/2011,...,0,0,1,2,2,0,0,2,1,NaN
151445,2011984134011,308800,582070,-3.431709,55.124613,98,2,1,1,24/09/2011,...,0,0,6,1,1,0,0,2,1,NaN
151446,2011984134411,320370,566660,-3.246015,54.988164,98,3,2,1,26/09/2011,...,0,0,1,1,1,0,0,2,1,NaN
151447,2011984135311,320520,566940,-3.243749,54.990703,98,3,1,1,23/09/2011,...,0,0,1,1,1,0,0,2,2,NaN
151448,2011984135411,318710,572290,-3.273553,55.038476,98,3,1,2,02/10/2011,...,0,0,1,2,2,0,0,2,1,NaN
151449,2011984135511,329330,566960,-3.106090,54.992213,98,3,2,1,02/10/2011,...,0,0,1,5,2,0,0,2,2,NaN
151450,2011984136011,319350,566340,-3.261861,54.985124,98,3,1,1,06/10/2011,...,0,0,1,5,2,0,0,2,2,NaN
151451,2011984136511,317450,569690,-3.292512,55.014909,98,3,1,1,10/10/2011,...,0,0,1,1,1,0,0,2,1,NaN
151452,2011984136711,307140,603700,-3.464853,55.318608,98,3,2,2,14/10/2011,...,0,0,1,2,2,0,0,2,1,NaN
151453,2011984136811,316130,583030,-3.317081,55.134533,98,3,1,3,14/10/2011,...,0,0,6,2,2,0,0,2,1,NaN
151454,2011984137611,307840,603110,-3.453632,55.313440,98,3,2,2,09/10/2011,...,0,0,6,1,1,0,0,2,1,NaN
151455,2011984138311,320080,566480,-3.250496,54.986500,98,3,1,1,26/10/2011,...,0,4,4,2,2,0,0,2,1,NaN
151456,2011984139011,310330,594360,-3.411621,55.235298,98,3,1,1,31/10/2011,...,0,0,6,2,2,0,0,2,1,NaN
151457,2011984139311,319990,566930,-3.252028,54.990528,98,3,3,1,04/11/2011,...,0,0,1,1,2,0,0,2,1,NaN
151458,2011984139411,323940,573010,-3.191927,55.045773,98,2,2,1,04/11/2011,...,0,0,1,1,2,0,0,2,1,NaN
151459,2011984139811,322560,595050,-3.219544,55.243569,98,3,2,1,07/11/2011,...,0,0,1,1,1,0,2,2,1,NaN
151460,2011984141011,308120,602750,-3.449104,55.310259,98,2,1,1,23/11/2011,...,0,0,6,1,1,0,0,2,1,NaN
151461,2011984141411,307930,603210,-3.452247,55.314355,98,1,1,1,27/11/2011,...,0,0,1,1,1,0,0,2,1,NaN
151462,2011984141611,332110,567060,-3.062671,54.993498,98,3,2,1,21/11/2011,...,0,0,1,1,1,0,0,2,1,NaN
151463,2011984143211,324840,572290,-3.177655,55.039441,98,2,2,1,06/12/2011,...,0,0,1,1,2,0,0,2,1,NaN
151464,2011984143511,319900,568900,-3.253986,55.008213,98,3,1,1,02/12/2011,...,0,0,6,1,2,0,0,2,1,NaN
151465,2011984143811,307840,603110,-3.453632,55.313440,98,3,2,1,05/12/2011,...,0,0,1,2,3,0,0,2,1,NaN
151466,2011984144911,303600,610720,-3.523034,55.380985,98,3,1,1,10/12/2011,...,0,0,1,3,3,0,0,2,1,NaN
151467,2011984145211,321110,567290,-3.234627,54.993942,98,3,1,1,16/12/2011,...,0,0,6,1,4,0,0,2,1,NaN
151468,2011984145411,322660,566290,-3.210135,54.985201,98,3,1,1,17/12/2011,...,0,0,1,1,4,0,0,2,1,NaN
151469,2011984145611,305230,606490,-3.495884,55.343306,98,3,1,1,17/12/2011,...,0,0,6,8,4,0,0,2,1,NaN
151470,2011984145911,306780,593150,-3.467026,55.223770,98,2,1,1,19/12/2011,...,0,0,6,2,4,0,0,2,1,NaN
151471,2011984146011,304120,609140,-3.514288,55.366895,98,3,2,1,17/12/2011,...,0,0,6,2,4,0,0,2,1,NaN
151472,2011984146411,316740,583760,-3.307730,55.141194,98,3,1,1,19/12/2011,...,0,0,6,2,2,0,6,2,1,NaN
151473,2011984147811,315210,574660,-3.329010,55.059182,98,3,1,3,22/12/2011,...,0,0,6,1,2,0,0,2,1,NaN